<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>

    <title>Amare speranza</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="../static/rss_news/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/rss_news/css/main.css"/>
    <link rel="stylesheet" href="../static/rss_news/css/media.css"/>
    <link rel="stylesheet" href="../static/rss_news/css/fonts.css"/>

</head>

<body>


<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>

                    <a href="index.html" class="navbar-brand logo">
                        <img src="../static/rss_news/img/logo.png" alt="logo">
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="top_menu">
                    <ul class="menu">
                        <li><a href="#">english</a></li>
                        <li><a href="#">русский</a></li>
                        <li><a href="#">italian</a></li>
                        <li><a href="#">german</a></li>
                        <li><a href="#">spanish</a></li>
                    </ul>
                </div>
            </div>
            <div class="top_line"></div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title_block">
                    <h1>Do you wanna know a lot of languages?</h1>
                    <p>This site can help anyone who search knowledge of languages and countries!</p>
                    <button class="my_btn btn_md">Where do I start?</button>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="params_s">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <h3>English forum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <h3>Русский форум</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo qui nam beatae eligendi quia
                        pariatur facere consequatur libero dolore excepturi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <h3>italian forum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo qui nam beatae eligendi quia
                        pariatur facere consequatur libero dolore excepturi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <h3>german forum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo qui nam beatae eligendi quia
                        pariatur facere consequatur libero dolore excepturi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <h3>spanish forum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo qui nam beatae eligendi quia
                        pariatur facere consequatur libero dolore excepturi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="param_block">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <h3>Settings</h3>
                    <p>You can easy set the site like you want it, just enjoy it!</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="works_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-1.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-2.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-3.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-4.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-5.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-6.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-7.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p0">
                <div class="work_block">
                    <div class="image_wrap">
                        <div class="work_descr">
                            <h4>PROJECT NAME</h4>
                            <p>some description</p>
                        </div>
                    </div>
                    <img src="../static/rss_news/img/work-8.jpg" class="img-responsive" alt="workItem">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team_s">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team_item">
                    <img src="../static/rss_news/img/noname" class="img-responsive" alt="teamMember">
                    <h4>Some one</h4>
                    <span>founder ceo</span><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur doloribus illo,
                        maiores assumenda aut cupiditate, vitae nobis corrupti rem laudantium ut voluptatibus aliquid
                        reiciendis ad odio libero atque architecto!</p>
                    <div class="team_btns">
                        <button class="soc_btn_grey">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team_item">
                    <img src="../static/rss_news/img/noname" class="img-responsive" alt="teamMember">
                    <h4>Some one</h4>
                    <span>founder ceo</span><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur doloribus illo,
                        maiores assumenda aut cupiditate, vitae nobis corrupti rem laudantium ut voluptatibus aliquid
                        reiciendis ad odio libero atque architecto!</p>
                    <div class="team_btns">
                        <button class="soc_btn_grey">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team_item">
                    <img src="../static/rss_news/img/noname" class="img-responsive" alt="teamMember">
                    <h4>Some one</h4>
                    <span>founder ceo</span><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur doloribus illo,
                        maiores assumenda aut cupiditate, vitae nobis corrupti rem laudantium ut voluptatibus aliquid
                        reiciendis ad odio libero atque architecto!</p>
                    <div class="team_btns">
                        <button class="soc_btn_grey">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="team_item">
                    <img src="../static/rss_news/img/noname" class="img-responsive" alt="teamMember">
                    <h4>Some one</h4>
                    <span>founder ceo</span><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur doloribus illo,
                        maiores assumenda aut cupiditate, vitae nobis corrupti rem laudantium ut voluptatibus aliquid
                        reiciendis ad odio libero atque architecto!</p>
                    <div class="team_btns">
                        <button class="soc_btn_grey">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="soc_btn_grey">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="download_block">
                    <h5>Are you ready to start? Download for free!</h5>
                    <p>App is for android, newest version</p>
                    <button class="my_btn btn_lg" data-toggle="modal" data-target="#dlModal">download now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h5>location</h5>
                        <p>Lorem ipsum dolor sit <br> amet, consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer_item">
                        <h5>location</h5>
                        <button class="soc_btn_white">
                            <i class="fa fa-facebook"></i>
                        </button>
                        <button class="soc_btn_white">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="soc_btn_white">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div class="footer_item">
                        <h5>location</h5>
                        <p>Lorem ipsum dolor sit <br> amet, consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="copy_txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, numquam.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="call_btn" data-toggle="modal" data-target="#dlModal">
        <span class="glyphicon glyphicon-earphone"></span>
    </button>
</footer>


<div class="modal fade" id="dlModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Download</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="dlForm">
                    <input type="text" class="form-control" placeholder="Ваше имя">
                    <input type="email" class="form-control" placeholder="E-Mail">
                    <input type="password" class="form-control" placeholder="Пидумайте пароль">
                    <input type="submit" value="send" class="my_btn btn_md btn-block">
                </form>
            </div>
        </div>
    </div>
    <div/>

    <script src="../static/rss_news/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="../static/rss_news/libs/bootstrap/js/bootstrap.min.js"></script>

    <script src="../static/rss_news/js/common.js"></script>

</body>
</html>